[submodule "flex-engine/vendor/spdlog"]
	path = flex-engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "flex-engine/vendor/flex-render"]
	path = flex-engine/vendor/flex-render
	url = https://www.github.com/flexed-team/flex-render
[submodule "flex-math"]
	path = flex-engine/vendor/flex-math
	url = https://www.github.com/flexed-team/flex-math
[submodule "flex-engine/vendor/glm"]
	path = flex-engine/vendor/glm
	url = https://github.com/g-truc/glm
